
body {
    font-family: 'Orbitron', sans-serif;
}

header {
    margin: 20px;
}

.calculator, .display-container, .button-container, .button-container, .numbers-container, .functions-container {
    border: 1px solid black;
    display: flex;
    margin: 20px;
}

.calculator {
    width: 400px;
    height: 600px;
    flex-direction: column;
    
}

.display-container {
    margin: 20px;
    height: 80px;
    width: 360px;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: end;
    align-items: end; 
}

#display {
    font-size: 48px;   
}

#history {
    font-size: 18px;
    color: grey;
}

.button-container {
    height: 500px;
    width: 360px;
    flex-direction: row;
    /* border: 1px solid green; */
}


.numbers-container, .functions-container {
    margin: 0;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 0;
    border: 0;
}

.numbers-container {
    width: 270px;
    /* border: 1px solid red; */
}


.functions-container {
    width: 90px;
    /* border: 1px solid teal; */

}

.function, .numbers {
    width: 90px;
    height: 60px;
}

